.navbarMobileContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    border: 1px solid #DBDBDB
}
.navbarDesktopContainer{
    
    display: flex;
    flex-direction: column;
    height: 100%;
}
.navSec1{
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:40px;
    height: 100%;
}
.navSec2{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.profilePicture{
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
    object-position: top;
}