

@font-face {
  font-family: 'Samsung Sharp Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Regular'), url('/public/Fonts/samsungsharpsans.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Samsung Sharp Sans Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Medium'), url('/public/Fonts/samsungsharpsans-medium.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Samsung Sharp Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Bold'), url('/public/Fonts/samsungsharpsans-bold.woff') format('woff');
  }


body {
  margin: 0;
  font-family: 'Samsung Sharp Sans Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Samsung Sharp Sans Regular', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Samsung Sharp Sans Bold', sans-serif;
}

p.medium-text {
  font-family: 'Samsung Sharp Sans Medium', sans-serif;
}